streamlit
absl-py
aiofiles
altair
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cvzone
cycler
dacite
filelock
Flask
Flask-Cors
flatbuffers
fonttools
future
gast
gevent
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
h5py
html5tagger
htmlmin
httptools
idna
ImageHash
itsdangerous
jax
jaxlib
Jinja2
joblib
jsonschema
keras
kiwisolver
libclang
llvmlite
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
ml-dtypes
multidict
multimethod
networkx
numba
numpy
oauthlib
opencv-contrib-python
opencv-python
opt-einsum
packaging
pandas
pandas-profiling
patsy
phik
pillow
protobuf
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydeck
Pygments
pyparsing
PySocks
python-dateutil
pytz
PyWavelets
PyYAML
referencing
requests
requests-file
requests-oauthlib
rich
rsa
sanic
Sanic-Cors
sanic-routing
scikit-learn
scipy
seaborn
six
smmap
sounddevice
statsmodels
tenacity
tensorboard
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tldextract
tornado
tqdm
typeguard
typing_extensions
tzdata
urllib3
visions
watchdog
websockets
Werkzeug
wordcloud
wrapt
ydata-profiling
zope.event
zope.interface
